.order {
    padding: 100px 16px 0 16px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    justify-items: end;
    height: 100%
}

.cta {
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    border-radius: 45px;
    color: #777;
}


.orderList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.amount {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.amountValue {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.amountValue svg {
    height: 35px;
    width: 35px;
}