*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  --footer-height: 82px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  scroll-behavior: smooth;
}

a {
  color:#FFFFFF;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

dl,
dt,
dd {
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100vh;
  padding-bottom: var(--footer-height);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  background: #1C1C21;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

main {
  flex: 1 1 auto
}

.baseContainer {
  width: 100%;
  max-width: 1240px;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.mainPanel {
  flex: 1 0 auto;
  max-width: 50%;
  max-height: 80vh;
  background-color: transparent;

}


.errorPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.scrollList {
  height: 60vh;
  overflow-y: scroll;
  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: thin;
  padding-right: 14px;

}

.scrollList-short {
  height: 368px;
  width: auto;
}


.scrollList::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;

}

.scrollList::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  border-radius: 3px;
  cursor: grab;

}

.scrollList::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
  box-shadow: inset 1px 1px 12px #e665d7;

}


.tabsBar {
  display: flex;
  justify-content: space-between;
}

.tabsBar .tab {
  flex: 1 1 auto;
  max-width: 100%;
}

.linksBar {
  display: flex;
  justify-content: space-between;
  gap: 8px
}

.nmr-4 {
  margin-right: -16px;
}

.nmr-5 {
  margin-right: -20px;
}

.nml-5 {
  margin-left: -20px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}